--
-- PostgreSQL database dump
--

\restrict 6s7KoOmtuzR7oNNPPhdRruEx6cdBEIcENyYUW5WqEoZiRIXmlE3kqhIokoFVbUs

-- Dumped from database version 18.2
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ChatRoom; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."ChatRoom" (
    "userEmail" text NOT NULL,
    "companyName" text NOT NULL,
    "seenByCompany" boolean DEFAULT false NOT NULL,
    "seenByUser" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."ChatRoom" OWNER TO postgres;

--
-- Name: Company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Company" (
    id integer NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    link text NOT NULL
);


ALTER TABLE public."Company" OWNER TO postgres;

--
-- Name: Company_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Company_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Company_id_seq" OWNER TO postgres;

--
-- Name: Company_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Company_id_seq" OWNED BY public."Company".id;


--
-- Name: Degree; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Degree" (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."Degree" OWNER TO postgres;

--
-- Name: Degree_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Degree_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Degree_id_seq" OWNER TO postgres;

--
-- Name: Degree_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Degree_id_seq" OWNED BY public."Degree".id;


--
-- Name: Employer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Employer" (
    id integer NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    surname text NOT NULL,
    "companyId" integer NOT NULL,
    "canAddOffers" boolean DEFAULT false NOT NULL,
    "canManageCandidates" boolean DEFAULT false NOT NULL,
    "canManagePermissions" boolean DEFAULT false NOT NULL,
    "canUpdateCompanyDetails" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Employer" OWNER TO postgres;

--
-- Name: Employer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Employer_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Employer_id_seq" OWNER TO postgres;

--
-- Name: Employer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Employer_id_seq" OWNED BY public."Employer".id;


--
-- Name: Major; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Major" (
    id integer NOT NULL,
    name text NOT NULL,
    "categoryId" integer NOT NULL
);


ALTER TABLE public."Major" OWNER TO postgres;

--
-- Name: MajorCategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."MajorCategory" (
    id integer NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."MajorCategory" OWNER TO postgres;

--
-- Name: MajorCategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."MajorCategory_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."MajorCategory_id_seq" OWNER TO postgres;

--
-- Name: MajorCategory_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."MajorCategory_id_seq" OWNED BY public."MajorCategory".id;


--
-- Name: Major_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Major_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Major_id_seq" OWNER TO postgres;

--
-- Name: Major_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Major_id_seq" OWNED BY public."Major".id;


--
-- Name: Message; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Message" (
    id integer NOT NULL,
    "chatRoomUserEmail" text NOT NULL,
    "chatRoomCompanyName" text NOT NULL,
    date text NOT NULL,
    content text NOT NULL,
    "isFromCompany" boolean NOT NULL
);


ALTER TABLE public."Message" OWNER TO postgres;

--
-- Name: Message_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Message_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Message_id_seq" OWNER TO postgres;

--
-- Name: Message_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Message_id_seq" OWNED BY public."Message".id;


--
-- Name: Offer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Offer" (
    id integer NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    "employerId" integer NOT NULL,
    "targetMajorId" integer NOT NULL,
    "targetDegreeId" integer NOT NULL,
    "publishedAt" text NOT NULL,
    due text NOT NULL,
    "finishDate" text NOT NULL
);


ALTER TABLE public."Offer" OWNER TO postgres;

--
-- Name: OfferDraft; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."OfferDraft" (
    id integer NOT NULL,
    name text NOT NULL,
    title text NOT NULL,
    body text NOT NULL,
    "employerId" integer NOT NULL
);


ALTER TABLE public."OfferDraft" OWNER TO postgres;

--
-- Name: OfferDraft_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."OfferDraft_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."OfferDraft_id_seq" OWNER TO postgres;

--
-- Name: OfferDraft_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."OfferDraft_id_seq" OWNED BY public."OfferDraft".id;


--
-- Name: Offer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."Offer_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Offer_id_seq" OWNER TO postgres;

--
-- Name: Offer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."Offer_id_seq" OWNED BY public."Offer".id;


--
-- Name: SingleApplicationDetails; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."SingleApplicationDetails" (
    "userEmail" text NOT NULL,
    "offerId" integer NOT NULL,
    "isAccepted" boolean DEFAULT false NOT NULL,
    "isRejected" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."SingleApplicationDetails" OWNER TO postgres;

--
-- Name: Team; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."Team" (
    "ownerEmail" text NOT NULL,
    name text NOT NULL,
    description text NOT NULL
);


ALTER TABLE public."Team" OWNER TO postgres;

--
-- Name: TeamApplicationDetails; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."TeamApplicationDetails" (
    "teamOwnerEmail" text NOT NULL,
    "offerId" integer NOT NULL,
    "isAccepted" boolean DEFAULT false NOT NULL,
    "isRejected" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."TeamApplicationDetails" OWNER TO postgres;

--
-- Name: University; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."University" (
    id integer NOT NULL,
    webpage text NOT NULL,
    country text NOT NULL,
    domain text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public."University" OWNER TO postgres;

--
-- Name: University_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."University_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."University_id_seq" OWNER TO postgres;

--
-- Name: University_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."University_id_seq" OWNED BY public."University".id;


--
-- Name: User; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."User" (
    id integer NOT NULL,
    email text NOT NULL,
    name text NOT NULL,
    surname text NOT NULL,
    "universityId" integer NOT NULL,
    "degreeId" integer NOT NULL,
    bio text NOT NULL,
    "majorId" integer NOT NULL,
    year integer NOT NULL,
    "teamId" text
);


ALTER TABLE public."User" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public."User_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."User_id_seq" OWNER TO postgres;

--
-- Name: User_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public."User_id_seq" OWNED BY public."User".id;


--
-- Name: _savedOffers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_savedOffers" (
    "A" integer NOT NULL,
    "B" integer NOT NULL
);


ALTER TABLE public."_savedOffers" OWNER TO postgres;

--
-- Name: auth_accounts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_accounts (
    id text NOT NULL,
    "userId" text NOT NULL,
    type text NOT NULL,
    provider text NOT NULL,
    "providerAccountId" text NOT NULL,
    refresh_token text,
    access_token text,
    expires_at integer,
    token_type text,
    scope text,
    id_token text,
    session_state text
);


ALTER TABLE public.auth_accounts OWNER TO postgres;

--
-- Name: auth_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_sessions (
    id text NOT NULL,
    "sessionToken" text NOT NULL,
    "userId" text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.auth_sessions OWNER TO postgres;

--
-- Name: auth_users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_users (
    id text NOT NULL,
    name text,
    email text,
    "emailVerified" timestamp(3) without time zone,
    image text,
    "passwordHash" text
);


ALTER TABLE public.auth_users OWNER TO postgres;

--
-- Name: auth_verification_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_verification_tokens (
    identifier text NOT NULL,
    token text NOT NULL,
    expires timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.auth_verification_tokens OWNER TO postgres;

--
-- Name: Company id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company" ALTER COLUMN id SET DEFAULT nextval('public."Company_id_seq"'::regclass);


--
-- Name: Degree id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Degree" ALTER COLUMN id SET DEFAULT nextval('public."Degree_id_seq"'::regclass);


--
-- Name: Employer id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employer" ALTER COLUMN id SET DEFAULT nextval('public."Employer_id_seq"'::regclass);


--
-- Name: Major id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Major" ALTER COLUMN id SET DEFAULT nextval('public."Major_id_seq"'::regclass);


--
-- Name: MajorCategory id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MajorCategory" ALTER COLUMN id SET DEFAULT nextval('public."MajorCategory_id_seq"'::regclass);


--
-- Name: Message id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message" ALTER COLUMN id SET DEFAULT nextval('public."Message_id_seq"'::regclass);


--
-- Name: Offer id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Offer" ALTER COLUMN id SET DEFAULT nextval('public."Offer_id_seq"'::regclass);


--
-- Name: OfferDraft id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OfferDraft" ALTER COLUMN id SET DEFAULT nextval('public."OfferDraft_id_seq"'::regclass);


--
-- Name: University id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."University" ALTER COLUMN id SET DEFAULT nextval('public."University_id_seq"'::regclass);


--
-- Name: User id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User" ALTER COLUMN id SET DEFAULT nextval('public."User_id_seq"'::regclass);


--
-- Data for Name: ChatRoom; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."ChatRoom" ("userEmail", "companyName", "seenByCompany", "seenByUser") FROM stdin;
\.


--
-- Data for Name: Company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Company" (id, name, description, link) FROM stdin;
1	Partner Hub	Default company for employer seed	https://partnerhub.example
\.


--
-- Data for Name: Degree; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Degree" (id, name) FROM stdin;
1	Bachelor
2	Master
3	PhD
4	Associate
\.


--
-- Data for Name: Employer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Employer" (id, email, name, surname, "companyId", "canAddOffers", "canManageCandidates", "canManagePermissions", "canUpdateCompanyDetails") FROM stdin;
1	hubert.wasiewicz@gmail.com	Hubert	Wasiewicz	1	t	t	t	t
\.


--
-- Data for Name: Major; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Major" (id, name, "categoryId") FROM stdin;
1	Informatyka	1
2	In┼╝ynieria oprogramowania	1
3	Zarz─ůdzanie	2
4	In┼╝ynieria mechaniczna	3
\.


--
-- Data for Name: MajorCategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."MajorCategory" (id, name) FROM stdin;
1	Informatyka
2	Biznes
3	In┼╝ynieria
\.


--
-- Data for Name: Message; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Message" (id, "chatRoomUserEmail", "chatRoomCompanyName", date, content, "isFromCompany") FROM stdin;
\.


--
-- Data for Name: Offer; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: OfferDraft; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."OfferDraft" (id, name, title, body, "employerId") FROM stdin;
\.


--
-- Data for Name: SingleApplicationDetails; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."SingleApplicationDetails" ("userEmail", "offerId", "isAccepted", "isRejected") FROM stdin;
\.


--
-- Data for Name: Team; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."Team" ("ownerEmail", name, description) FROM stdin;
employer@mock.com		{"blocks":[{"key":"7jje2","text":"sdfsfdsf","type":"unstyled","depth":0,"inlineStyleRanges":[],"entityRanges":[],"data":{}}],"entityMap":{}}
\.


--
-- Data for Name: TeamApplicationDetails; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."TeamApplicationDetails" ("teamOwnerEmail", "offerId", "isAccepted", "isRejected") FROM stdin;
\.


--
-- Data for Name: University; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."University" (id, webpage, country, domain, name) FROM stdin;
1	https://pw.edu.pl	Poland	pw.edu.pl	Politechnika Warszawska
2	https://uw.edu.pl	Poland	uw.edu.pl	Uniwersytet Warszawski
\.


--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: _savedOffers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."_savedOffers" ("A", "B") FROM stdin;
\.


--
-- Data for Name: auth_accounts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_accounts (id, "userId", type, provider, "providerAccountId", refresh_token, access_token, expires_at, token_type, scope, id_token, session_state) FROM stdin;
\.


--
-- Data for Name: auth_sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_sessions (id, "sessionToken", "userId", expires) FROM stdin;
\.


--
-- Data for Name: auth_users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_users (id, name, email, "emailVerified", image, "passwordHash") FROM stdin;
cf33869f-8947-4d58-95c3-cf904574e17c	debugf3da4cb4	debugf3da4cb4@example.com	2026-03-16 20:32:19.968	\N	$2b$12$zA88m1QIFhk5cGWx3cvjwu3Lvfv0dKgQZoRyxiqchEbCkhPvlkVV2
cfac1651-f74f-4c40-8aa8-566675d4f00f	hubert.wasiewicz	hubert.wasiewicz@plus.pl	2026-03-16 20:57:23.293	\N	$2b$12$70OMLk2z50SJ9exhQ/zJ..m8Bk0xf/9NrP.AjIXkvUTKns8BbgUTy
\.


--
-- Data for Name: auth_verification_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_verification_tokens (identifier, token, expires) FROM stdin;
\.


--
-- Name: Company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Company_id_seq"', 1, false);


--
-- Name: Degree_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Degree_id_seq"', 4, true);


--
-- Name: Employer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Employer_id_seq"', 1, false);


--
-- Name: MajorCategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."MajorCategory_id_seq"', 3, true);


--
-- Name: Major_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Major_id_seq"', 4, true);


--
-- Name: Message_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Message_id_seq"', 1, false);


--
-- Name: OfferDraft_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."OfferDraft_id_seq"', 1, false);


--
-- Name: Offer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Offer_id_seq"', 4, true);


--
-- Name: University_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."University_id_seq"', 2, true);


--
-- Name: User_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."User_id_seq"', 9, true);


--
-- Name: ChatRoom ChatRoom_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChatRoom"
    ADD CONSTRAINT "ChatRoom_pkey" PRIMARY KEY ("userEmail", "companyName");


--
-- Name: Company Company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Company"
    ADD CONSTRAINT "Company_pkey" PRIMARY KEY (id);


--
-- Name: Degree Degree_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Degree"
    ADD CONSTRAINT "Degree_pkey" PRIMARY KEY (id);


--
-- Name: Employer Employer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employer"
    ADD CONSTRAINT "Employer_pkey" PRIMARY KEY (id);


--
-- Name: MajorCategory MajorCategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."MajorCategory"
    ADD CONSTRAINT "MajorCategory_pkey" PRIMARY KEY (id);


--
-- Name: Major Major_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Major"
    ADD CONSTRAINT "Major_pkey" PRIMARY KEY (id);


--
-- Name: Message Message_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_pkey" PRIMARY KEY (id);


--
-- Name: OfferDraft OfferDraft_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OfferDraft"
    ADD CONSTRAINT "OfferDraft_pkey" PRIMARY KEY (id);


--
-- Name: Offer Offer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Offer"
    ADD CONSTRAINT "Offer_pkey" PRIMARY KEY (id);


--
-- Name: SingleApplicationDetails SingleApplicationDetails_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SingleApplicationDetails"
    ADD CONSTRAINT "SingleApplicationDetails_pkey" PRIMARY KEY ("userEmail", "offerId");


--
-- Name: TeamApplicationDetails TeamApplicationDetails_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamApplicationDetails"
    ADD CONSTRAINT "TeamApplicationDetails_pkey" PRIMARY KEY ("teamOwnerEmail", "offerId");


--
-- Name: Team Team_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_pkey" PRIMARY KEY ("ownerEmail");


--
-- Name: University University_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."University"
    ADD CONSTRAINT "University_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: auth_accounts auth_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_accounts
    ADD CONSTRAINT auth_accounts_pkey PRIMARY KEY (id);


--
-- Name: auth_sessions auth_sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_pkey PRIMARY KEY (id);


--
-- Name: auth_users auth_users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_users
    ADD CONSTRAINT auth_users_pkey PRIMARY KEY (id);


--
-- Name: Company_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Company_name_key" ON public."Company" USING btree (name);


--
-- Name: Degree_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Degree_name_key" ON public."Degree" USING btree (name);


--
-- Name: Employer_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Employer_email_key" ON public."Employer" USING btree (email);


--
-- Name: MajorCategory_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "MajorCategory_name_key" ON public."MajorCategory" USING btree (name);


--
-- Name: Major_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "Major_name_key" ON public."Major" USING btree (name);


--
-- Name: University_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "University_name_key" ON public."University" USING btree (name);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: _savedOffers_AB_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "_savedOffers_AB_unique" ON public."_savedOffers" USING btree ("A", "B");


--
-- Name: _savedOffers_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_savedOffers_B_index" ON public."_savedOffers" USING btree ("B");


--
-- Name: auth_accounts_provider_providerAccountId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "auth_accounts_provider_providerAccountId_key" ON public.auth_accounts USING btree (provider, "providerAccountId");


--
-- Name: auth_sessions_sessionToken_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "auth_sessions_sessionToken_key" ON public.auth_sessions USING btree ("sessionToken");


--
-- Name: auth_users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX auth_users_email_key ON public.auth_users USING btree (email);


--
-- Name: auth_verification_tokens_identifier_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX auth_verification_tokens_identifier_token_key ON public.auth_verification_tokens USING btree (identifier, token);


--
-- Name: auth_verification_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX auth_verification_tokens_token_key ON public.auth_verification_tokens USING btree (token);


--
-- Name: ChatRoom ChatRoom_companyName_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChatRoom"
    ADD CONSTRAINT "ChatRoom_companyName_fkey" FOREIGN KEY ("companyName") REFERENCES public."Company"(name) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ChatRoom ChatRoom_userEmail_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."ChatRoom"
    ADD CONSTRAINT "ChatRoom_userEmail_fkey" FOREIGN KEY ("userEmail") REFERENCES public."User"(email) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Employer Employer_companyId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Employer"
    ADD CONSTRAINT "Employer_companyId_fkey" FOREIGN KEY ("companyId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Major Major_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Major"
    ADD CONSTRAINT "Major_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public."MajorCategory"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Message Message_chatRoomUserEmail_chatRoomCompanyName_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Message"
    ADD CONSTRAINT "Message_chatRoomUserEmail_chatRoomCompanyName_fkey" FOREIGN KEY ("chatRoomUserEmail", "chatRoomCompanyName") REFERENCES public."ChatRoom"("userEmail", "companyName") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: OfferDraft OfferDraft_employerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."OfferDraft"
    ADD CONSTRAINT "OfferDraft_employerId_fkey" FOREIGN KEY ("employerId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Offer Offer_employerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Offer"
    ADD CONSTRAINT "Offer_employerId_fkey" FOREIGN KEY ("employerId") REFERENCES public."Company"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Offer Offer_targetDegreeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Offer"
    ADD CONSTRAINT "Offer_targetDegreeId_fkey" FOREIGN KEY ("targetDegreeId") REFERENCES public."Degree"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Offer Offer_targetMajorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Offer"
    ADD CONSTRAINT "Offer_targetMajorId_fkey" FOREIGN KEY ("targetMajorId") REFERENCES public."Major"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SingleApplicationDetails SingleApplicationDetails_offerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SingleApplicationDetails"
    ADD CONSTRAINT "SingleApplicationDetails_offerId_fkey" FOREIGN KEY ("offerId") REFERENCES public."Offer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SingleApplicationDetails SingleApplicationDetails_userEmail_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."SingleApplicationDetails"
    ADD CONSTRAINT "SingleApplicationDetails_userEmail_fkey" FOREIGN KEY ("userEmail") REFERENCES public."User"(email) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TeamApplicationDetails TeamApplicationDetails_offerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamApplicationDetails"
    ADD CONSTRAINT "TeamApplicationDetails_offerId_fkey" FOREIGN KEY ("offerId") REFERENCES public."Offer"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: TeamApplicationDetails TeamApplicationDetails_teamOwnerEmail_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."TeamApplicationDetails"
    ADD CONSTRAINT "TeamApplicationDetails_teamOwnerEmail_fkey" FOREIGN KEY ("teamOwnerEmail") REFERENCES public."Team"("ownerEmail") ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Team Team_ownerEmail_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."Team"
    ADD CONSTRAINT "Team_ownerEmail_fkey" FOREIGN KEY ("ownerEmail") REFERENCES public."User"(email) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_degreeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_degreeId_fkey" FOREIGN KEY ("degreeId") REFERENCES public."Degree"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_majorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_majorId_fkey" FOREIGN KEY ("majorId") REFERENCES public."Major"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: User User_teamId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_teamId_fkey" FOREIGN KEY ("teamId") REFERENCES public."Team"("ownerEmail") ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: User User_universityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_universityId_fkey" FOREIGN KEY ("universityId") REFERENCES public."University"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: _savedOffers _savedOffers_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_savedOffers"
    ADD CONSTRAINT "_savedOffers_A_fkey" FOREIGN KEY ("A") REFERENCES public."Offer"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _savedOffers _savedOffers_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_savedOffers"
    ADD CONSTRAINT "_savedOffers_B_fkey" FOREIGN KEY ("B") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: auth_accounts auth_accounts_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_accounts
    ADD CONSTRAINT "auth_accounts_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.auth_users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: auth_sessions auth_sessions_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT "auth_sessions_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.auth_users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 6s7KoOmtuzR7oNNPPhdRruEx6cdBEIcENyYUW5WqEoZiRIXmlE3kqhIokoFVbUs

